

{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set mypageno = 'contract' %}

{% set body_class = 'mypage' %}

{% block javascript %}
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
 
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script type="text/javascript">


document.getElementById('myInput').addEventListener('change', function() {
    alert('The value has changed to: ' + this.value);
});

  document.addEventListener("DOMContentLoaded", function() {
    // Select the field by its ID
    const myField = document.getElementById('myField');

    // Listen for changes to the field
    myField.addEventListener('change', function() {
      const myFieldValue = myField.value;
      console.log(myFieldValue); // Outputs the new value when the field changes
      alert("bm");
    });
  });

    function copyText(value){
        var name1 = document.getElementById('2_9');
        var name2 = document.getElementById('clientName');
        var add1 = document.getElementById('2_10');
        var add2 = document.getElementById('2_36');

        name2.value = name1.value;
        add2.value = add1.value;

    }

    function formatNumber(input) {

      let value = input.value.replace(/,/g, '').replace(/[^\d]/g, '');
      input.value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function calculationPrice(value) {
        
        //document.getElementById('2_40').value = document.getElementById('2_34').value;
        
        //alert('The value has changed to: ' + value);
        var part1_1 = document.getElementById('1_1');
        var part1_2 = document.getElementById('1_2');
        var part1_3 = document.getElementById('1_3');
        var part1_4 = document.getElementById('1_4');
        var part1_5 = document.getElementById('1_5');
        var part1_6 = document.getElementById('1_6');
        var part1_7 = document.getElementById('1_7');
        var part1_8 = document.getElementById('1_8');
        var part1_9 = document.getElementById('1_9');
        var part1_11 = document.getElementById('1_11');
        var part1_12 = document.getElementById('1_12');
        var part1_13 = document.getElementById('1_13');
        var part1_14 = document.getElementById('1_14');
        var part1_15 = document.getElementById('1_15');
        var part1_16 = document.getElementById('1_16');
        var part1_17 = document.getElementById('1_17');
        var part1_18 = document.getElementById('1_18');
        
        var part1_total = document.getElementById('1_10');

        part1_1_val = part1_1.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_2_val = part1_2.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_3_val = part1_3.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_4_val = part1_4.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_5_val = part1_5.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_6_val = part1_6.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_7_val = part1_7.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_8_val = part1_8.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_9_val = part1_9.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_11_val = part1_11.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_12_val = part1_12.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_13_val = part1_13.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_14_val = part1_14.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_15_val = part1_15.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_16_val = part1_16.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_17_val = part1_17.value.replace(/,/g, '').replace(/[^\d]/g, '');
        part1_18_val = part1_18.value.replace(/,/g, '').replace(/[^\d]/g, '');

        if (part1_1_val == "") part1_1_val = 0;
        if (part1_2_val == "") part1_2_val = 0;
        if (part1_3_val == "") part1_3_val = 0;
        if (part1_4_val == "") part1_4_val = 0;
        if (part1_5_val == "") part1_5_val = 0;
        if (part1_6_val == "") part1_6_val = 0;
        if (part1_7_val == "") part1_7_val = 0;
        if (part1_8_val == "") part1_8_val = 0;
        if (part1_9_val == "") part1_9_val = 0;
        if (part1_11_val == "") part1_11_val = 0;
        if (part1_12_val == "") part1_12_val = 0;
        if (part1_13_val == "") part1_13_val = 0;
        if (part1_14_val == "") part1_14_val = 0;
        if (part1_15_val == "") part1_15_val = 0;
        if (part1_16_val == "") part1_16_val = 0;
        if (part1_17_val == "") part1_17_val = 0;
        if (part1_18_val == "") part1_18_val = 0;

        var total = parseInt(part1_1_val) + parseInt(part1_2_val) + parseInt(part1_3_val) + parseInt(part1_4_val)
         + parseInt(part1_5_val) + parseInt(part1_6_val) + parseInt(part1_7_val) 
         - parseInt(part1_8_val)
          + parseInt(part1_9_val)
           + parseInt(part1_11_val)
            + parseInt(part1_12_val)
             - parseInt(part1_13_val)
              + parseInt(part1_14_val)
               + parseInt(part1_15_val)
                + parseInt(part1_16_val)
                 + parseInt(part1_17_val)
                  - parseInt(part1_18_val);
        part1_total.value = total;
        document.getElementById('1_10').value  = "￥" + part1_total.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        
        part1_1.value = part1_1.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        part1_2.value = part1_2.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

    }


function doubleSubmit(f) 
{

  const myField = document.getElementById('myField');
  const textField = document.getElementById('clientName');
  const pdfFileTextField = document.getElementById('pdfFileNameId');
  const chassisNumberIdField = document.getElementById('ChassisNumberID');

  var currentdate = new Date(); 

  var datetime = String(currentdate.getFullYear())
                + String((currentdate.getMonth()+1))
                + String(currentdate.getDate())  
                + String(currentdate.getHours())
                + String(currentdate.getMinutes());
                //+ String(currentdate.getSeconds());

    // Set a new value
    //textField.value = myField.value;

    var fileName = chassisNumberIdField.value + "_" + textField.value + "_" + datetime;
    myField.value = fileName;
    //alert(fileName);

    pdfFileTextField.value = fileName;

// Assuming formData is your FormData object containing your data

// Clone the FormData object
let formDataClone = new FormData(f);

  //  alert("bm");

// Second fetch request
var baseurl = document.getElementById('uploadPath').value
fetch(baseurl+'/src/tcpdf/examples/tcpdf_contract.php', {
//fetch('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_contract.php', {
  method: 'POST',
  body: formDataClone, // Use the cloned FormData object
})
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    //window.open('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_contract.php');
    alert("bm");
    window.open('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_contract.php', '_blank').focus();
    return response.json();
  })
  .then(data => {
    console.log('Second URL Response:', data);
  })
  .catch(error => {
    console.error('Error:', error);
  });

return false;
}


async function uploadImage() {
  //alert("bm");
    const statusDiv = document.getElementById('status');
    const imageFile = document.getElementById('imageFile').files[0];

    if (!imageFile) {
        alert("Please select an image file.");
        return;
    }

    const formData = new FormData();
    formData.append('image', imageFile);

    try {
        const response = await fetch('/mypage/contract/upload', {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // To identify the request as AJAX
            },
            body: formData,
        });

        const result = await response.json();
        if (response.ok) {
            statusDiv.innerHTML = `<p style="color: green;">${result.message}</p>`;
        } else {
            statusDiv.innerHTML = `<p style="color: red;">Error: ${result.message}</p>`;
        }
    } catch (error) {
        statusDiv.innerHTML = `<p style="color: red;">Failed to upload image. Error: ${error.message}</p>`;
    }
}


</script>

{% endblock javascript %}

{% block main %}


    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '新規で契約書を作成（Generate Contract）'|trans }}</h1>
            </div>
            {{ include('Mypage/navi.twig') }}
        </div>
        <form method="post" action="?" novalidate class="h-adr">
                      <div class="ec-off4Grid__cell-bk">
                          
                      </div>
                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid" style="place-content: center;">
                            <input type="text" value="" id="username" name="username" size="70%">
                            <div class="ec-off4Grid__cell-bk">
                                 <button type="submit" class="ec-blockBtn--cancel">{{ '自動入力'|trans }}</button>
                            </div>
                                {% if siteInfo['goo-net'] != '' %}
                                    <a href="{{siteInfo['goo-net']}}" target="_blank">
                                        【My goo-net】
                                    </a>
                                {% endif %}

                        </div>
                        <div style="text-align: center; color:#f71f04">{{siteInfo['URL_Error']}}</div>
                    </div>
          </form>
                      <div class="ec-off4Grid__cell-bk">
                            　
                      </div>

        <div class="ec-mypageRole">
             <form method="post" novalidate class="h-adr" onsubmit="doubleSubmit(this)"> 
            {#<form name="form1" id="form1" method="post" action="/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_contract.php">#}
                    <input type="hidden" value="" name="pdfFileName" id="pdfFileNameId">
                    <input type="hidden" value="{{CustomerId}}" name="customerId" id="">
                    <input type="hidden" value="{{ app.request.basePath }}" name="uploadPath" id="uploadPath">

                <div class="ec-editRole">
                    <div class="ec-off1Grid">
                        <div class="ec-off1Grid__cell">

                            <span class="p-country-name" style="display:none;">Japan</span>
                            {{ form_widget(form._token) }}
                            <div class="ec-borderedDefs" style="display: none;" >
                            
                                <dl>
                                    <dt>
                                        {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div>
                                            {{ form_widget(form.name.name02, { 'attr': { 'placeholder': '名' }, 'value': 'dummy', 'id': 'myField'}) }}
                                            {{ form_widget(form.name.name01, { 'attr': { 'placeholder': '姓' }, 'value': 'contract'}) }}
                                            {{ form_errors(form.name.name01, {'value': 'dummy'}) }}
                                            {{ form_errors(form.name.name02, {'value': 'dummy'}) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                            {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'セイ' }, 'value': 'カナ'}) }}
                                            {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'メイ' }, 'value': 'カナ'}) }}
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                            {{ form_widget(form.company_name, {'value': 'dummy'}) }}
                                            {{ form_errors(form.company_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div><span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.postal_code, {'value': '1240004'}) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                    </div>
                                                </div>></a>
                                            </div>
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <div >
                                            {{ form_widget(form.address.pref,{id: 3, 'value': '葛飾区'}) }}
                                 
                                        </div>
                                        <div >
                                            {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' },'value': 'dummy'}) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div>
                                            {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }, 'value': 'dummy'}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </dd>
                                </dl> 
                                <dl>
                                    <dt>
                                        {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div >
                                            {{ form_widget(form.phone_number,{'value': '11111111111'}) }}
                                            {{ form_errors(form.phone_number) }}
                                        </div>
                                    </dd>
                                </dl>-->
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <dl>
                                            <dt>
                                                {{ form_label(f) }}
                                            </dt>
                                            <dd>
                                                <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                    {{ form_widget(f) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

{# Html template start #}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="MSTER_COPY_契約書-2.fld/filelist.xml">
<style id="MSTER_COPY_契約書-2_6227_Styles">
table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:.2in 0in .2in .2in;
	mso-header-margin:0in;
	mso-footer-margin:0in;}
tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
td input, td button {

  width:100%;
  height:100%;
  background-color: #f7f6f3;
  border: hidden;
}
td select {
  /*width:100%;*/
  height:100%;
  border: hidden;
}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:游ゴシック;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:標準;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:游ゴシック;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl63
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;}
.xl631
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
    border-bottom:1px solid #9E9E9E !important;}
.xl64
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;}
.xl65
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	vertical-align:top;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:right;}
.xl68
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:left;}
.xl69
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl70
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl72
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;}
.xl74
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";}
.xl75
	{mso-style-parent:style0;
	color:red;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
    border-bottom:1px solid #9E9E9E !important;}
.xl76
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_\)\;\\\(\#\,\#\#0\\\)";}
.xl77
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_\)\;\\\(\#\,\#\#0\\\)";
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl78
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:left;
	vertical-align:top;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	vertical-align:top;}
.xl80
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	vertical-align:top;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:left;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl84
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl85
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:left;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl86
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl87
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl88
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl89
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl90
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl901
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl91
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl92
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl93
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt hairline black;
	border-right:.5pt hairline black;
	border-bottom:none;
	border-left:none;}
.xl94
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:.5pt hairline black;}
.xl95
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt hairline black;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:.5pt hairline black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl97
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt hairline black;
	border-right:.5pt hairline black;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:.5pt hairline black;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:.5pt hairline black;}
.xl100
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:00;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;}
.xl101
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;}
.xl102
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;}
.xl103
	{mso-style-parent:style0;
	color:red;
	font-size:10.0pt;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
.xl104
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:游明朝;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\0022¥\0022\#\,\#\#0_\)\;\\\(\0022¥\0022\#\,\#\#0\\\)";
	text-align:right;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:1px solid #9E9E9E !important;
	border-left:none;}
ruby
	{ruby-align:left;}
rt
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:游ゴシック;
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-char-type:katakana;
	display:none;}

/* input[type=number] start */
input[type=number] {text-align: right;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* input[type=number] end */

</style>
</head>

<body link="#0563C1" vlink="#0563C1" onload="javascript:calculationPrice()">
<!--[if !excel]>　　<![endif]-->
<!--次の情報は、Excel の Web ページとして発行ウィザードで生成されました。-->
<!--同じアイテムが Excel から再発行されるとき、DIV タグ間のすべての情報が置き換えられます。-->
<!----------------------------->
<!--Excel の Web ページとして発行 ウィザードのアウトプットの始まり-->
<!----------------------------->

<div id="MSTER_COPY_契約書-2_6227" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=749 style='border-collapse:
 collapse;table-layout:fixed;width:569pt'>
 <col width=24 style='mso-width-source:userset;mso-width-alt:768;width:18pt'>
 <col width=25 span=29 style='mso-width-source:userset;mso-width-alt:810;
 width:19pt'>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" width=24 style='height:15.75pt;width:18pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
  <td class="xl63" width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td colspan=28 rowspan=2 class=xl64>⾃動⾞売買契約書</td>
  <td class=xl64></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl64></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td colspan=28 rowspan=4 class=xl65 width=700 style='width:532pt'>売、主{{ siteInfo['CompanyName']}}（以下「甲」という）と買主
  （以下「乙」という）とは、甲所有の後記自動車（以下「本件自動車」という）について、以下の内容の自動車個人間売買契約を締結した。</td>
  <td class=xl65 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl65 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl65 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl65 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=5 style='mso-ignore:colspan'>1 本件自動車の表示</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=3 style='mso-ignore:colspan'>登録番号</td>
  <td colspan=11 class=xl82><input type="text" value="" name="2_1" id=""></td>
  <td colspan=3 class="xl67">車種</td>
  <td colspan=10 class=xl84><input type="text" value="{{siteInfo['CarModel']}}" name="2_2" id=""></td>
  <td class="xl68"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=2 style='mso-ignore:colspan'>型 式</td>
  <td colspan=12 class=xl82><input type="text" value="" name="2_3" id=""></td>
  <td colspan=3 class="xl67">車台番号</td>
  <td colspan=10 class=xl85><input type="text" value="{{siteInfo['ChassisNumber']}}" name="2_4" id="ChassisNumberID"></td>
  <td class="xl68"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=3 style='mso-ignore:colspan'>初年度登録</td>
  <td colspan=9 class="xl87"><input type="month" value="2024年10月09日" name="2_5"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl67">登録年月日</td>
  <td colspan=9 class="xl63"><input type="date" value="2024年10月09日" name="2_6"></td>

  <td class="xl67"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=3 style='mso-ignore:colspan'>車検満了日</td>
  <td colspan=9 class="xl87"><input type="date" value="2024年10月09日" name="2_7"></td>
 
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl67">走行距離数</td>

  <td colspan=10 class=xl88><input type="text" value="{{siteInfo['Mileage']}}" name="2_8" id=""></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=4 style='mso-ignore:colspan'>所有者の氏名</td>
  <td class="xl70" colspan=9 style='mso-ignore:colspan'><input type="text" value="" name="2_9" id="2_9" onkeyup="copyText(this.value)"></td>

  <td class="xl67" colspan=4>所有者の住所</td>
  
  <td class="xl70" colspan=10 style='mso-ignore:colspan'><input type="text" value="" name="2_10" id="2_10" onkeyup="copyText(this.value)"></td>




  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=4 style='mso-ignore:colspan'>使用者の氏名</td>
  <td class="xl70" colspan=9 style='mso-ignore:colspan'><input type="text" value="" name="2_11" id=""></td>

  <td class="xl67" colspan=4>使用者の住所</td>
  
  <td class="xl70" colspan=10 style='mso-ignore:colspan'><input type="text" value="" name="2_12" id=""></td>




  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=3 style='mso-ignore:colspan'>2 契約内容</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=2 style='mso-ignore:colspan'>契約日</td>
  <td colspan=7 class=xl82><input type="date" value="2024年10月09日" name="2_13"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
    <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=4 style='mso-ignore:colspan'>車両引渡し日</td>
  <td class="xl70" colspan=7><input type="date" value="2024年10月09日" name="2_14"></td>

  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=5 style='mso-ignore:colspan'>登録名義変更期日</td>
  <td class="xl63" colspan=7><input type="date" value="2024年10月09日" name="2_15"></td>

  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=16 style='mso-ignore:colspan'>登録名義変更済み新検査証の複写引渡し日
  登録名義変更日より</td>



  <td class="xl70" colspan=3 ><input type="text" value="" name="2_16" id=""></td>

  <td class="xl67">日以内</td>
  <td class="xl67"></td>
 </tr>
  <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>

  <td class="xl67"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>本件自動車車両価格</td>
  <td colspan=7 class=xl89><input type="text" value="{{siteInfo['VehiclePrice']}}" name="1_1" id="1_1"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>整備、車検、登録諸費用</td>
  <td colspan=7 class="xl90"><input type="text" value="{{siteInfo['OtherPrice']}}" name="1_2" id="1_2"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=8 rowspan=2 class=xl91 style='border-right:.5pt hairline black;
  border-bottom:.5pt hairline black'>下取車両情報</td>
  <td class=xl73></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>車陸送費用</td>
  <td colspan=7 class=xl89><input type="text" value="0" name="1_3" id="1_3" onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class=xl73></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>登録代行費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_4" id="1_4"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl96" style='border-right:.5pt hairline black'>メーカー：</td>
  <td colspan=5 class="xl98" style='border-right:.5pt hairline black;border-left:
  none'><input type="text" value="" name="2_21" id=""></td>

 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td colspan=11 class="xl631">車庫証明代行費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_5" id="1_5"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl96" style='border-right:.5pt hairline black'>車種：</td>
  <td colspan=5 class="xl98" style='border-right:.5pt hairline black;border-left:
  none'><input type="text" value="" name="2_23" id=""></td>

 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>納車点検費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_6" id="1_6"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl96" style='border-right:.5pt hairline black'>走行距離数：</td>
  <td colspan=5 class=xl99 style='border-right:.5pt hairline black;border-left:
  none'><input type="text" value="" name="2_25" id=""></td>
  <td class=xl73></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>納車費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_7" id="1_7"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl96" style='border-right:.5pt hairline black'>車体色:</td>
  <td colspan=5 class="xl98" style='border-right:.5pt hairline black;border-left:
  none'><input type="text" value="" name="2_28" id="0"></td>
  <td class=xl73></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl75" colspan=11 style='mso-ignore:colspan'>下取り車価格(-)</td>
  <td colspan=7 class="xl103"><input type="text" value="0" name="1_8" id="1_8"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td colspan=3 class="xl96" style='border-right:.5pt hairline black'>車体色:</td>
  <td colspan=5 class="xl98" style='border-right:.5pt hairline black;border-left:
  none'><input type="text" value="" name="2_28" id="0"></td>
  <td class=xl73></td>
 </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>下取車諸手続き代行費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_9" id="1_9"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>名義変更費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_11" id="1_11"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl631" colspan=11 style='mso-ignore:colspan'>希望ナンバー費用</td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_12" id="1_12"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl75" colspan=11 style='mso-ignore:colspan'>特別値引き(-)</td>

  <td colspan=7 class="xl103"><input type="text" value="0" name="1_13" id="1_13"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
　<tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl901" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="3_1" id="" style="background-color: #EFE8D2;"></td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_14" id="1_14"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
    <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl901" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="3_2" id="" style="background-color: #EFE8D2;"></td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_15" id="1_15"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
    <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl901" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="3_3" id="" style="background-color: #EFE8D2;"></td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_16" id="1_16"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl901" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="3_4" id="" style="background-color: #EFE8D2;"></td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_17" id="1_17"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>
    <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class="xl901" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="3_5" id="" style="background-color: #EFE8D2;"></td>
  <td colspan=7 class="xl90"><input type="text" value="0" name="1_18" id="1_18"  onkeyup="calculationPrice(this.value)" oninput="formatNumber(this)" style="text-align: right;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  </tr>

 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class=xl66></td>
  <td class=xl66 colspan=11 style="mso-ignore:colspan; text-align:right;">本件自動車売買の合計金額</td>
  <td colspan=7 class=xl104><input type="text" value="¥0" name="2_31" id="1_10"  class="asd" readonly style="text-align:right;background-color: #f9bc05;"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=6 style='mso-ignore:colspan'>第1条（売買対象車両）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66></td>
  <td class="xl63" colspan=22 style='mso-ignore:colspan'>売主は以下の中古車両を買主に売却し、買主はこれを購入することに合意します。<br>
    ⚫︎　車名：[車名]<br>
    ⚫︎　型式：[型式]<br>
    ⚫︎　車体番号：[車体番号]<br>
    ⚫︎　年式：[年式]<br>
    ⚫︎　走行距離：[走行距離] km<br>
    ⚫︎　色：[色]<br>
    ⚫︎　その他特徴：[その他特徴]</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=6 style='mso-ignore:colspan'>第2条（売買価格）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=24 style='mso-ignore:colspan'>本契約に基づく売買価格は、以下の通りです。<br>
    ⚫︎　売買価格：[価格]円（税込）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
  <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=7 style='mso-ignore:colspan'>第3条（支払い方法）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=19 style='mso-ignore:colspan'>買主は、以下の方法に従い、売買価格を支払います。<br>
    ⚫︎　支払い方法：[銀行振込、現金支払い、ローン等]<br>
    ⚫︎　支払い期限：[支払い期限]<br>
    ⚫︎　支払い場所：[支払い場所]</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
  <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=6 style='mso-ignore:colspan'>第4条（車両の引渡し）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=23 style='mso-ignore:colspan'><p>1. 車両の引渡しは、以下の日時・場所で行います。<br>
    &nbsp;&nbsp;⚫︎　引渡し場所：[引渡し場所]<br>
    &nbsp;&nbsp;⚫︎　引渡し日時：[引渡し日時]<br></p>
    <p>2. 買主が車両の引渡しを受けることによって、車両の所有権は買主に移転します。</p></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
  <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=5 style='mso-ignore:colspan'>第5条（保証）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td colspan=27 rowspan=4 class=xl78 width=675 style='width:513pt'>
    1. 売主は、買主に対して以下の保証を提供します。<br>
    &nbsp;&nbsp;⚫︎　保証期間：1ヶ月または1,000kmのいずれか早い方<br>
    &nbsp;&nbsp;⚫︎　保証内容：エンジン及び主要機関の故障に対する保証。ただし、消耗品（タイヤ、<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;バッテリー、オイル等）や事故による損傷は保証の対象外です。<br>
    &nbsp;&nbsp;⚫︎　保証条件：車両は正常に使用され、定期的なメンテナンスが行われていることが前提です。
    <br>
    2. 保証期間内に故障が発生した場合、売主は修理または交換の対応を行います。<br>&nbsp;&nbsp;&nbsp;&nbsp;ただし、以下の場合は保証対象外となります。<br>
    &nbsp;&nbsp;⚫︎　車両が適切に使用されていない場合<br>
    &nbsp;&nbsp;⚫︎　車両が事故にあった場合<br>
    &nbsp;&nbsp;⚫︎　使用者による不適切な維持管理が原因の場合
    </td>
  <td class=xl78 width=25 style='width:19pt'></td>
 </tr>

 
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class=xl78 width=25 style='width:19pt'></td>
 </tr>
 
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class=xl78 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class=xl78 width=25 style='width:19pt'></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=7 style='mso-ignore:colspan'>第6条（瑕疵担保責任）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class=xl79 colspan=21 style='mso-ignore:colspan'>
  1.車両引渡し後、買主が車両に瑕疵（欠陥）を発見した場合、<br>&nbsp;&nbsp;&nbsp;買主は瑕疵発見後[7日以内]に売主に通知しなければなりません。
    <br>
  2. 売主は、通知を受けた瑕疵について責任を負い、修理または返品対応を行います。</td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
  <td class=xl80 width=25 style='width:19pt'></td>
 </tr>
 
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=4 style='mso-ignore:colspan'>第7条（契約解除）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=24 style='mso-ignore:colspan'>
  1. 以下の場合、本契約は解除されることがあります。<br>
    &nbsp;&nbsp;⚫︎　買主が売買価格の支払いを遅延した場合<br>
    &nbsp;&nbsp;⚫︎　売主または買主が本契約に基づく義務を履行しない場合<br>
    &nbsp;&nbsp;⚫︎　売主が提供した車両情報に重大な虚偽があった場合<br>
    &nbsp;&nbsp;⚫︎　本契約に基づく履行が不可能となった場合<br>

  2. 契約解除に伴い、売主は既に受け取った支払金を返金し、車両を引き取るものとします。
  </td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
  <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>

 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=4 style='mso-ignore:colspan'>第8条（紛争解決）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=24 style='mso-ignore:colspan'>
    本契約に関して生じた紛争については、[地域名]地方裁判所を第一審の管轄裁判所とします。
  </td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 </tr> <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class=xl66 colspan=4 style='mso-ignore:colspan'>第9条（その他）</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63" colspan=24 style='mso-ignore:colspan'>
    1. 本契約に記載されていない事項については、売主と買主が誠実に協議し、解決するものとします。
    <br>
    2. 本契約書は、売主と買主の署名または捺印をもって効力を生じます。
  </td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>

 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=2 class=xl63>　</td>
  <td class="xl102"  colspan=6><input type="date" value="2024年10月09日" name="2_32"></td>

  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=5 class="xl67">売主（甲）住所：</td>
  <td class="xl72" colspan=11 style='mso-ignore:colspan'><input type="text" value="{{ siteInfo['CompanyAddress']}}"  name="2_33" id="2_33" readonly style='background-color: #ffffff;'></td>

  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=5 class="xl67">社名：</td>
  <td class=xl72 colspan=11 style='mso-ignore:colspan'><input type="text" value="{{ siteInfo['CompanyName']}}" name="2_34" id="2_34" readonly style='background-color: #ffffff;'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=4 class="xl67">氏名：</td>
  <td class=xl72 colspan=11 style='mso-ignore:colspan'><input type="text" value="{{ siteInfo['OwnerName']}}" name="2_35" id="" readonly style='background-color: #ffffff;'></td>

  <td class="xl63">㊞</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
  <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=5 class="xl67">買主（乙）住所：</td>
  <td class="xl72" colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="2_36" id="2_36" readonly style='background-color: #ffffff;'></td>

  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=5 class="xl67">社名：</td>
  <td class=xl72 colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="2_37" id=""></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td height=24 class="xl63" style='height:18.0pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td colspan=4 class="xl67">氏名：</td>
  <td class=xl72 colspan=11 style='mso-ignore:colspan'><input type="text" value="" name="2_38" id="clientName" readonly style='background-color: #ffffff;'></td>

  <td class="xl63">㊞</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63">以上、契約の証として本書２通を作成し、甲乙署名捺印のうえ、各々その１通を保有する。</td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.75pt'>
  <td height=20 class="xl63" style='height:15.75pt'></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
  <td class="xl63"></td>
 </tr>

 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=24 style='width:18pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
  <td width=25 style='width:19pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--Excel の Web ページとして発行 ウィザードのアウトプットの終わり-->
<!----------------------------->
</body>

</html>

{# Html template end #}

                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                            <input type="submit" value="登録する" class="ec-blockBtn--cancel">
                                <!-- <button type="submit" 
                                        class="ec-blockBtn--cancel">{{ '登録する'|trans }}</button>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}