{#
This file is part of EC-CUBE
Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'dmtemplate' %}

{% set body_class = 'mypage' %}


{% block javascript %}

{% endblock javascript %}

{% block main %}





    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '見積書一覧'|trans }}</h1>
            </div>
            {{ include('Mypage/navi.twig') }}
        </div>
        <!--
        <div class="ec-mypageRole">
            {% if Customer.CustomerAddresses|length > 0 %}
                <p class="ec-para-normal">{{ '%count%件のお届け先があります'|trans({'%count%':Customer.CustomerAddresses|length}) }}</p>
            {% else %}
                <p class="ec-para-normal">{{ 'お届け先は登録されていません。'|trans }}</p>
            {% endif %}
        </div>
        -->
        <div class="ec-mypageRole">
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    
                    <div class="ec-addressRole">
                        <div class="ec-addressRole__actions">
                           {# {{include('Mypage/default_DM_Template.html.twig')}} #}

                            <!-- <p>Customer ID: {{ CustomerId }}</p>  -->

                            {% set template = "Mypage/dmTemplate_" ~ CustomerId ~ ".html" %}
                            {% include template %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}