

{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set mypageno = 'priceboard' %}

{% set body_class = 'mypage' %}

{% block javascript %}
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
 
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script type="text/javascript">


document.getElementById('myInput').addEventListener('change', function() {
    alert('The value has changed to: ' + this.value);
});

  document.addEventListener("DOMContentLoaded", function() {
    // Select the field by its ID
    const myField = document.getElementById('myField');

    // Listen for changes to the field
    myField.addEventListener('change', function() {
      const myFieldValue = myField.value;
      console.log(myFieldValue); // Outputs the new value when the field changes
      alert("bm");
    });
  });


    function calculationPrice(value) {
        document.getElementById('2_18').value = document.getElementById('2_11').value;
        
        //alert('The value has changed to: ' + value);
        var part2_1 = document.getElementById('2_1');
        var part2_2 = document.getElementById('2_2');
        var part2_4 = document.getElementById('2_4');
        var part2_6 = document.getElementById('2_6');
        
        var part1_total = document.getElementById('2_30');

        part2_1_val = part2_1.value;
        part2_2_val = part2_2.value;
        part2_4_val = part2_4.value;
        part2_6_val = part2_6.value;

        if (part2_1_val == "") part2_1_val = 0;
        if (part2_2_val == "") part2_2_val = 0;
        if (part2_4_val == "") part2_4_val = 0;
        if (part2_6_val == "") part2_6_val = 0;

        allPart1 = parseInt(part2_1_val) + parseInt(part2_2_val) + parseInt(part2_4_val) + parseInt(part2_6_val);
        part1_total.value = allPart1;
        document.getElementById('2_30').value = "￥" + part1_total.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        
        //2nd part
        var part2_9 = document.getElementById('2_9');
        var part2_10 = document.getElementById('2_10');
        var part2_12 = document.getElementById('2_12');
        var part2_14 = document.getElementById('2_14');
        var part2_16 = document.getElementById('2_16');
        var part2_18 = document.getElementById('2_18');
        var part2_20 = document.getElementById('2_20');
        var part2_22 = document.getElementById('2_22');

        var part2_total = document.getElementById('2_24');

        part2_9_val = part2_9.value;
        part2_10_val = part2_10.value;
        part2_12_val = part2_12.value;
        part2_14_val = part2_14.value;
        part2_16_val = part2_16.value;
        part2_18_val = part2_18.value;
        part2_20_val = part2_20.value;
        part2_22_val = part2_22.value;

        if (part2_9_val == "") part2_9_val = 0;
        if (part2_10_val == "") part2_10_val = 0;
        if (part2_12_val == "") part2_12_val = 0;
        if (part2_14_val == "") part2_14_val = 0;
        if (part2_16_val == "") part2_16_val = 0;
        if (part2_18_val == "") part2_18_val = 0;
        if (part2_20_val == "") part2_20_val = 0;
        if (part2_22_val == "") part2_22_val = 0;


        var allPart2 = parseInt(part2_9_val) + parseInt(part2_10_val) + parseInt(part2_12_val) + parseInt(part2_14_val)　+ parseInt(part2_16_val) - parseInt(part2_18_val) - parseInt(part2_20_val) - parseInt(part2_22_val);
        //alert(aa);
        part2_total.value = allPart2;
        document.getElementById('2_24').value = "￥" + part2_total.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

       //3rd part
        var part3_1 = document.getElementById('3_1');
        var part3_2 = document.getElementById('3_2');
        var part3_3 = document.getElementById('3_3');
        var part3_4 = document.getElementById('3_4');
        var part3_5 = document.getElementById('3_5');
        var part3_6 = document.getElementById('3_6');
        var part3_7 = document.getElementById('3_7');
        var part3_8 = document.getElementById('3_8');
        var part3_9 = document.getElementById('3_9');
        var part3_10 = document.getElementById('3_10');
        var part3_11 = document.getElementById('3_11');
        var part3_12 = document.getElementById('3_12');
        var part3_13 = document.getElementById('3_13');


        var part3_total = document.getElementById('3_14');

        part3_1_val = part3_1.value;
        part3_2_val = part3_2.value;
        part3_3_val = part3_3.value;
        part3_4_val = part3_4.value;
        part3_5_val = part3_5.value;
        part3_6_val = part3_6.value;
        part3_7_val = part3_7.value;
        part3_8_val = part3_8.value;
        part3_9_val = part3_9.value;
        part3_10_val = part3_10.value;
        part3_11_val = part3_11.value;
        part3_12_val = part3_12.value;
        part3_13_val = part3_13.value;


        if (part3_1_val == "") part3_1_val = 0;
        if (part3_2_val == "") part3_2_val = 0;
        if (part3_3_val == "") part3_3_val = 0;
        if (part3_4_val == "") part3_4_val = 0;
        if (part3_5_val == "") part3_5_val = 0;
        if (part3_6_val == "") part3_6_val = 0;
        if (part3_7_val == "") part3_7_val = 0;
        if (part3_8_val == "") part3_8_val = 0;
        if (part3_9_val == "") part3_9_val = 0;
        if (part3_10_val == "") part3_10_val = 0;
        if (part3_11_val == "") part3_11_val = 0;
        if (part3_12_val == "") part3_12_val = 0;
        if (part3_13_val == "") part3_13_val = 0;

        //part3_total.value
        allPart3 = parseInt(part3_1_val) + parseInt(part3_2_val) + parseInt(part3_3_val) + parseInt(part3_4_val) + parseInt(part3_5_val) + 
                    parseInt(part3_6_val) + parseInt(part3_7_val) + parseInt(part3_8_val) + parseInt(part3_9_val) + parseInt(part3_10_val) + parseInt(part3_11_val) + 
                    parseInt(part3_12_val) + parseInt(part3_13_val);
        part3_total.value = allPart3;
        document.getElementById('3_14').value = "￥" + part3_total.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //諸費用合計②+③ 						
        //var Total23 = part2_total.value + part3_total.value;
        var Total23 = allPart2 + allPart3;
        //alert(Total23);
        document.getElementById('3_15').value = "￥" + Total23.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //小計＝①＋②＋③
        var Total123 = Total23 + allPart1;
        document.getElementById('3_16').value = "￥" + Total123.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //（内消費税①と③の10%）	
        Total = ((allPart1 + allPart3)*0.1);//.toFixed(2);
        document.getElementById('3_17').value = "￥" + Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //支払合計金額（ 税込）
        var Total5 = allPart1 + Total23;
        document.getElementById('3_18').value = "￥" + Total5.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //ご請求予定金額
        document.getElementById('1_12').value = "￥" + Total5.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //document.getElementById('1_12').value = "￥" + Total5;

        //下取車価格(内税)
        var part2_11 = document.getElementById('2_11');
        var part2_13 = document.getElementById('2_13');
        var part2_15 = document.getElementById('2_15');
        var part2_17 = document.getElementById('2_17');
        var part2_19 = document.getElementById('2_19');

        var part_total = document.getElementById('2_23');

        part2_11_val = part2_11.value;
        part2_13_val = part2_13.value;
        part2_15_val = part2_15.value;
        part2_17_val = part2_17.value;
        part2_19_val = part2_19.value;

        if (part2_11_val == "") part2_11_val = 0;
        if (part2_13_val == "") part2_13_val = 0;
        if (part2_15_val == "") part2_15_val = 0;
        if (part2_17_val == "") part2_17_val = 0;
        if (part2_19_val == "") part2_19_val = 0;

        part_total = parseInt(part2_11_val) + parseInt(part2_13_val) + parseInt(part2_15_val) + parseInt(part2_17_val) + parseInt(part2_19_val);
        document.getElementById('2_23').value = "￥" + part_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        //（内消費税・10%）	
　　　　　Total = ((part_total)*0.1);//.toFixed(2);
        document.getElementById('2_21').value = "￥" + Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //alert(parseInt(one.value) + parseInt(two.value))



    }

function doubleSubmit(f) 
{

  const myField = document.getElementById('myField');
  //const textField = document.getElementById('clientName');
  const pdfFileTextField = document.getElementById('pdfFileNameId');
  const chassisNumberIdField = document.getElementById('ChassisNumberID');
  
  var currentdate = new Date(); 

  var datetime = String(currentdate.getFullYear())
                + String((currentdate.getMonth()+1)).padStart(2, '0')
                + String(currentdate.getDate()).padStart(2, '0')
                + String(currentdate.getHours()).padStart(2, '0')
                + String(currentdate.getMinutes()).padStart(2, '0');
                //+ String(currentdate.getSeconds());

    // Set a new value
    //textField.value = myField.value;

    //var fileName = chassisNumberIdField.value + "_" + textField.value + "_" + datetime;
    var fileName = "priceboard" + "_" + datetime;
    myField.value = fileName;
    //alert(fileName);

    pdfFileTextField.value = fileName;

// Assuming formData is your FormData object containing your data

// Clone the FormData object
let formDataClone = new FormData(f);

  //  alert("bm");

// Second fetch request
var baseurl = document.getElementById('uploadPath').value
fetch(baseurl+'/src/tcpdf/examples/tcpdf_priceboard.php', {
//fetch('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_priceboard.php', {
  method: 'POST',
  body: formDataClone, // Use the cloned FormData object
})
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    //window.open('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_priceboard.php');
    alert("bm");
    window.open('/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_priceboard.php', '_blank').focus();
    return response.json();
  })
  .then(data => {
    console.log('Second URL Response:', data);
  })
  .catch(error => {
    console.error('Error:', error);
  });

return false;
}


async function uploadImage() {
  //alert("bm");
    const statusDiv = document.getElementById('status');
    const imageFile = document.getElementById('imageFile').files[0];

    if (!imageFile) {
        alert("Please select an image file.");
        return;
    }

    const formData = new FormData();
    formData.append('image', imageFile);

    try {
        const response = await fetch('/mypage/priceboard/upload', {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // To identify the request as AJAX
            },
            body: formData,
        });

        const result = await response.json();
        if (response.ok) {
            statusDiv.innerHTML = `<p style="color: green;">${result.message}</p>`;
        } else {
            statusDiv.innerHTML = `<p style="color: red;">Error: ${result.message}</p>`;
        }
    } catch (error) {
        statusDiv.innerHTML = `<p style="color: red;">Failed to upload image. Error: ${error.message}</p>`;
    }
}


</script>

{% endblock javascript %}

{% block main %}


    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '新規見積書を作成する（Generate an Estimat）'|trans }}</h1>
            </div>
            {{ include('Mypage/navi.twig') }}
        </div>
        <form method="post" action="?" novalidate class="h-adr">
                      <div class="ec-off4Grid__cell-bk">
                          
                      </div>
                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid" style="place-content: center;">
                            <input type="text" value="" id="username" name="username" size="70%">
                            <div class="ec-off4Grid__cell-bk">
                                 <button type="submit" class="ec-blockBtn--cancel">{{ '自動入力'|trans }}</button>
                            </div>
                        </div>
                    </div>
          </form>
                      <div class="ec-off4Grid__cell-bk">
                            　
                      </div>
        <div class="ec-mypageRole">
             <form method="post" novalidate class="h-adr" onsubmit="doubleSubmit(this)"> 
            {#<form name="form1" id="form1" method="post" action="/eccube-mylocal/ec-cube/src/tcpdf/examples/tcpdf_priceboard.php">#}
                <div class="ec-editRole">
                    <div class="ec-off1Grid">
                        <div class="ec-off1Grid__cell">

                            <span class="p-country-name" style="display:none;">Japan</span>
                            {{ form_widget(form._token) }}
                            <div class="ec-borderedDefs" style="display: none;" >
                            
                                <dl>
                                    <dt>
                                        {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div>

                                            {{ form_widget(form.name.name02, { 'attr': { 'placeholder': '名' }, 'value': 'dummy', 'id': 'myField'}) }}
                                            {{ form_widget(form.name.name01, { 'attr': { 'placeholder': '姓' }, 'value': 'priceboard'}) }}
                                            {{ form_errors(form.name.name01, {'value': 'dummy'}) }}
                                            {{ form_errors(form.name.name02, {'value': 'dummy'}) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                            {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'セイ' }, 'value': 'カナ'}) }}
                                            {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'メイ' }, 'value': 'カナ'}) }}
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                            {{ form_widget(form.company_name, {'value': 'dummy'}) }}
                                            {{ form_errors(form.company_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                
                                <dl>
                                    <dt>
                                        {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div><span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.postal_code, {'value': '1240004'}) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                    </div>
                                                </div>></a>
                                            </div>
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <div >
                                            {{ form_widget(form.address.pref,{id: 3, 'value': '葛飾区'}) }}
                                 
                                        </div>
                                        <div >
                                            {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' },'value': 'dummy'}) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div>
                                            {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }, 'value': 'dummy'}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </dd>
                                </dl> 
                                <dl>
                                    <dt>
                                        {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div >
                                            {{ form_widget(form.phone_number,{'value': '11111111111'}) }}
                                            {{ form_errors(form.phone_number) }}
                                        </div>
                                    </dd>
                                </dl>-->
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <dl>
                                            <dt>
                                                {{ form_label(f) }}
                                            </dt>
                                            <dd>
                                                <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                    {{ form_widget(f) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

{# Html template start #}

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="">

<style id="G-プライスボード_4297_Styles">
table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:.12in .12in .12in .12in;
	mso-header-margin:.12in;
	mso-footer-margin:.12in;
	mso-page-orientation:landscape;
	mso-horizontal-page-align:center;
	mso-vertical-page-align:center;}
.font5
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ 明朝";
	mso-generic-font-family:auto;
	mso-font-charset:128;}
.font6
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;}
.font7
	{color:red;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;}
tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ 明朝";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:標準;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ 明朝";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl64
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl65
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl66
	{mso-style-parent:style0;
	font-size:75.0pt;
	font-weight:700;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	font-size:60.0pt;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
  font-size:12.0pt;
  font-weight:bold;}
.xl69
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl72
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl73
	{mso-style-parent:style0;
	vertical-align:top;
	background-color:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl77
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl78
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl79
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
  font-size:22.0pt;
  font-weight:bold;}
.xl80
	{mso-style-parent:style0;
	color:white;
	font-size:120.0pt;
	font-weight:700;

	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	background-color:red;
	mso-pattern:black none;
  font-weight:bold;
  }
.xl81
	{mso-style-parent:style0;
	font-size:100.0pt;
	font-weight:700;
	text-align:center;
	background-color:red;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:1.0pt dot-dash-slanted #002060;
	border-right:none;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:1.0pt dot-dash-slanted #002060;
	background-color:yellow;
	mso-pattern:black none;
  font-weight:bold;}
.xl83
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:1.0pt dot-dash-slanted #002060;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt dot-dash-slanted #002060;
	background-color:yellow;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	background-color:yellow;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:1.0pt dot-dash-slanted #002060;
	background-color:yellow;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	border-top:1.0pt dot-dash-slanted #002060;
	border-right:1.0pt dot-dash-slanted #002060;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;
  font-weight:bold;}
.xl89
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	border-top:1.0pt dot-dash-slanted #002060;
	border-right:1.0pt dot-dash-slanted #002060;
	border-bottom:none;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	background-color:yellow;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	border-top:none;
	border-right:1.0pt dot-dash-slanted #002060;
	border-bottom:none;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:90.0pt;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	text-align:center;
	border-top:none;
	border-right:1.0pt dot-dash-slanted #002060;
	border-bottom:1.0pt dot-dash-slanted #002060;
	border-left:none;
	background-color:yellow;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:#F2F2F2;
	mso-pattern:black none;
  font-size:12.0pt;
  font-weight:bold;}
.xl95
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:#F2F2F2;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background-color:red;
	mso-pattern:black none;
  font-weight:bold;
  font-size:12.0pt;
  height: 18px;}
.xl97
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:red;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-number-format:"\#\,\#\#0_ ";
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:#F2F2F2;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:top;
	background-color:#F2F2F2;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl101
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl102
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl103
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:#F2F2F2;
	mso-pattern:black none;
  font-size:12.0pt;
  font-weight:bold;}
.xl104
	{mso-style-parent:style0;
	color:windowtext;
	font-weight:700;
	font-family:"Meiryo UI";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background-color:#F2F2F2;
	mso-pattern:black none;}
ruby
	{ruby-align:left;}
rt
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ 明朝";
	mso-generic-font-family:auto;
	mso-font-charset:128;
	mso-char-type:katakana;
	display:none;}

td input, td button, textarea {

  width:100%;
  height:100%;
  background-color: #f4eca6;
  border: hidden;
}
</style>
</head>

<body link="#0563C1" vlink="#954F72">
<!--[if !excel]>　　<![endif]-->
<!--次の情報は、Excel の Web ページとして発行ウィザードで生成されました。-->
<!--同じアイテムが Excel から再発行されるとき、DIV タグ間のすべての情報が置き換えられます。-->
<!----------------------------->
<!--Excel の Web ページとして発行 ウィザードのアウトプットの始まり-->
<!----------------------------->

<div id="G-プライスボード_4297" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=809 style='border-collapse:
 collapse;table-layout:fixed;width:800pt'>
          <!-- pdf file name -->
                    <input type="hidden" value="" name="pdfFileName" id="pdfFileNameId">
                    <input type="hidden" value="{{CustomerId}}" name="customerId" id="">
                    <input type="hidden" value="{{ app.request.basePath }}" name="uploadPath" id="uploadPath">

 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td colspan="29" rowspan="2" class="xl80">FOR SALE</td>

 </tr>

 <tr height=29 style='mso-height-source:userset;height:22.5pt'>


 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td colspan="28" height=29 class="xl64" style='height:22.5pt'>　</td>
  <td class="xl65">　</td>
 </tr>


 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td></td>
  <td colspan="4" rowspan="3" class="xl82" style='border-bottom:1.0pt dot-dash-slanted #002060'>￥</td>
  <td colspan="21" rowspan="3" class="xl88" style='border-right:1.0pt dot-dash-slanted #002060;
  border-bottom:1.0pt dot-dash-slanted #002060;'><input type="text" value="{{siteInfo['VehiclePrice']}}" name="1_0" style="height=300; text-align: center;"></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td colspan="28" height=29 class="xl64" style='height:22.5pt'>　</td>

  <td class="xl65">　</td>
 </tr>

 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;車名</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="{{siteInfo['CarModel']}}" name="1_1"></td>
  <td></td>
  <td colspan="3" class="xl100"><font class="font7">■</font>主な装備</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl70">　</td>
  <td class="xl71">　</td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;車台番号</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="{{siteInfo['ChassisNumber']}}" name="1_2"></td>
  <td></td>
  <td class="xl64">　</td>
  <td colspan="10" rowspan="3" class="xl99">
  <textarea id="1_3" name="1_3" rows="5" cols="46" style="resize: none;">

</textarea>
  </td>
  <td class="xl65">　</td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;排気量</td>
  <td colspan="7" class="xl98" style="border-right:.5pt solid black"><input type="text" value="{{siteInfo['Displacement']}}" name="1_4"></td>

  <td></td>
  <td class="xl64">　</td>
  <td class="xl65">　</td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;年式</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="{{siteInfo['Year']}}" name="1_5"></td>
  <td></td>
  <td class="xl64">　</td>
  <td class="xl65">　</td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;走行距離</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="{{siteInfo['Mileage']}}" name="1_6"></td>
  <td></td>
  <td class="xl64">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl73">　</td>
  <td class="xl65">　</td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;初度登録</td>

  <td colspan="3" class="xl94" style="solid black; text-align: right;">
            <select name="1_7" id="1_7" style="height:29px;">
              <option value="昭和">昭和</option>
              <option selected value="平成">平成</option>
              <option value="令和">令和</option>
            </select>
  &nbsp;</td>
  <td colspan="1" class="xl94" style=' solid black; text-align: right;'><input type="text" value="" name="1_8" style="text-align: right;"></td>
  <td colspan="1" class="xl94" style='solid black; text-align: left;'>年</td>
  <td colspan="1" class="xl94" style=' solid black'><input type="text" value="" name="1_9" style="text-align: right;"></td>
  <td class="xl94" style="border-right:.5pt solid black">月</td>
  <td></td>
  <td colspan="12" class="xl79">☎{{ siteInfo['CompanyMobilePhone']}}<input type="hidden" value="{{ siteInfo['CompanyMobilePhone']}}" name="1_10"></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;車検証有効期限</td>
  <td colspan="3" class="xl94" style="solid black; text-align: right;">
            <select name="1_11" id="1_11" style="height:29px;">
              <option value="昭和">昭和</option>
              <option selected value="平成">平成</option>
              <option value="令和">令和</option>
            </select>
  &nbsp;</td>
  <td colspan="1" class="xl94" style=' solid black; text-align: right;'><input type="text" value="" name="1_12" style="text-align: right;"></td>
  <td colspan="1" class="xl94" style='solid black; text-align: left;'>年</td>
  <td colspan="1" class="xl94" style=' solid black'><input type="text" value="" name="1_13" style="text-align: right;"></td>
  <td class="xl94" style="border-right:.5pt solid black">月</td>
  <td></td>
  <td align=left valign=top rowspan="4"><img  style="width: 442px; ; max-width:fit-content"
src="{{ app.request.schemeAndHttpHost }}{{ app.request.basePath }}/html/upload/save_image/priceboard/{{CustomerId}}.png"><input type="hidden" value="{{ app.request.schemeAndHttpHost }}{{ app.request.basePath }}/html/upload/save_image/priceboard/{{CustomerId}}.png" name="1_14"></td>

  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;修復歴</td>
  <td colspan="7" class="xl103" style="border-right:.5pt solid black">
            <select name="1_15" id="1_15" style="height:29px;">
              <option value="無">無</option>
              <option value="有">有</option>
            </select>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;保証内容</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="1ヶ月・1000km" name="1_16"></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=29 style='mso-height-source:userset;height:22.5pt'>
  <td height=29 class="xl64" style='height:22.5pt'>　</td>
  <td colspan="7" class="xl96">&nbsp;整備内容</td>
  <td colspan="7" class="xl94" style="border-right:.5pt solid black"><input type="text" value="" name="1_17"></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="xl65">　</td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:5.0pt'>
  <td height=7 class="xl74" style='height:5.0pt'>　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl75">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl76">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl77">　</td>
  <td class="xl78">　</td>
 </tr>



 
</table>

</div>
<br>

<!----------------------------->
<!--Excel の Web ページとして発行 ウィザードのアウトプットの終わり-->
<!----------------------------->
</body>

</html>

{# Html template end #}

                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                            <input type="submit" value="作成する" class="ec-blockBtn--cancel">
                                <!-- <button type="submit" 
                                        class="ec-blockBtn--cancel">{{ '登録する'|trans }}</button>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}